section {
    .titulo {
        font-size: 40px;
        font-family: 'Cormorant SC', serif;
        background-color: black;
        text-transform: uppercase ;
        margin-top: 20px;
        margin-bottom: 40px;
        border-bottom: 6px solid rgb(29, 29, 29); 
    }
}