header {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border-bottom: 6px solid rgb(29, 29, 29);
    .logo {
        border: 3px solid rgb(37, 37, 37);
    }
    .cabecera {
        @extend %h1Header
    }
    nav {
        display: flex;
        flex-direction: row;
        justify-content: right;
        ul {
            list-style-type: none;
            .link {
                display: inline;
                margin-left: 10px;
                text-decoration: none;
                .enlaces {
                    @include menu ($textColor: rgb(0, 0, 0), $hoverColor: rgb(255, 255, 255))
                }
            }
        }
    }
}
