@media screen and (max-width: 390px) and (orientation: portrait) {
    #grilla {
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header header"
        "h2 h2"
        "p p"
        "aside aside"
        "footer footer";}
        header {
            .cabecera {
                font-size: 4rem;
            }
            nav {
                display: flex;
                flex-direction: row;
                justify-content: center;
                ul {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    .link {
                        margin-left: 0px;
                        padding: 5px;
                    }
                }
            }
        }

        p {
            text-align: left;
            line-height: normal;
        }
        .imagenPortada{
        display: none;
    } 
    #mediaAthletes {
        .columnaVideos {
            display: flex;
            flex-direction: column;
            .primeraFilaVideos {
                display: flex;
                flex-direction: column;
                .primerVideo {
                    .atletasUno {
                        font-family: 'Cormorant SC', serif;
                        font-weight: bold;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        margin-left: 17px;
                        color: rgb(0, 0, 0);
                        text-align: center;
                        text-decoration: underline solid rgb(0, 0, 0) 3px;
                    }
                    .videoAtletaUno {
                        margin-left: 5px;
                        border: 5px solid rgb(0, 0, 0);
                        margin-bottom: 100px;
                        width: 380px;
                        height: 315px;
                    }
                }
                .segundoVideo {
                    .atletasDos {
                        font-family: 'Cormorant SC', serif;
                        font-weight: bold;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        margin-left: 17px;
                        color: rgb(0, 0, 0);
                        text-align: center;
                        text-decoration: underline solid rgb(0, 0, 0) 3px;
                    }
                    .videoAtletaDos {
                        margin-left: 5px;
                        border: 5px solid rgb(0, 0, 0);
                        margin-bottom: 100px;
                        width: 380px;
                        height: 315px;
                    }
                }
            }
            .segundaFilaVideos {
                display: flex;
                flex-direction: column;
                .tercerVideo {
                    .atletasUno {
                        font-family: 'Cormorant SC', serif;
                        font-weight: bold;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        margin-left: 17px;
                        color: rgb(0, 0, 0);
                        text-align: center;
                        text-decoration: underline solid rgb(0, 0, 0) 3px;
                    }
                    .videoAtletaUno {
                        margin-left: 5px;
                        border: 5px solid rgb(0, 0, 0);
                        margin-bottom: 100px;
                        width: 380px;
                        height: 315px;
                    }
                }
                .cuartoVideo {
                    .atletasDos {
                        font-family: 'Cormorant SC', serif;
                        font-weight: bold;
                        margin-top: 20px;
                        margin-bottom: 20px;
                        margin-left: 17px;
                        color: rgb(0, 0, 0);
                        text-align: center;
                        text-decoration: underline solid rgb(0, 0, 0) 3px;
                    }
                    .videoAtletaDos{
                        margin-left: 5px;
                        border: 5px solid rgb(0, 0, 0);
                        margin-bottom: 100px;
                        width: 380px;
                        height: 315px;
                    }
                }
            }
        }
    } 
    #mediaMerchandising {
        .mainMerchandising {
            .seccionRemeras {
                .remerasUno {
                    border: 5px solid rgb(0, 0, 0);
                    margin-bottom: 50px;
                    margin-left: 20px;
                    font-weight: bold;
                    width: 340px;
                }
                .remerasDos {
                    border: 5px solid rgb(0, 0, 0);
                    margin-bottom: 50px;
                    margin-left: 20px;
                    font-weight: bold;
                    width: 340px;
                }
                .remerasTres {
                    border: 5px solid rgb(0, 0, 0);
                    margin-bottom: 50px;
                    margin-left: 20px;
                    font-weight: bold;
                    width: 340px;
                }
            }
            .seccionShort {
                .shortUno {
                    border: 5px solid rgb(0, 0, 0);
                    margin-bottom: 50px;
                    margin-left: 20px;
                    font-weight: bold;
                    width: 340px;
                }
                .shortDos {
                    border: 5px solid rgb(0, 0, 0);
                    margin-bottom: 50px;
                    margin-left: 20px;
                    font-weight: bold;
                    width: 340px;
                }
            }
            .seccionAccesorio {
                .accesorios {
                    border: 5px solid rgb(0, 0, 0);
                    margin-bottom: 100px;
                    margin-left: 20px;
                    font-weight: bold;
                    width: 340px;
                }
            }
        }
    }
}
