@import "./partials/mixins";
@import "./partials/maps";
@import "./partials/body";
@import "./partials/dividgrilla";
@import "./partials/header";
@import "./partials/filaDosGrilla";
@import "./partials/asideImagenPortada";
@import "./partials/p";
@import "./partials/footer";
@import "./partials/extends";
@import "./partials/mediaQueries";
* {
    margin: 0;
    padding: 0;
}
.columnaVideos {
    display: flex;
    flex-direction: column;
    .primeraFilaVideos {
        display: flex;
        flex-direction: row;
        .primerVideo {
            .atletasUno {
                font-family: 'Cormorant SC', serif;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 140px;
                color: rgb(0, 0, 0);
                text-align: center;
                text-decoration: underline solid rgb(0, 0, 0) 3px;
            }
            .videoAtletaUno {
                margin-left: 140px;
                border: 5px solid rgb(0, 0, 0);
                margin-bottom: 100px;
                width: 560px;
                height: 315px;
            }
        }
        .segundoVideo {
            .atletasDos {
                font-family: 'Cormorant SC', serif;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 500px;
                color: rgb(0, 0, 0);
                text-align: center;
                text-decoration: underline solid rgb(0, 0, 0) 3px;
            }
            .videoAtletaDos {
                margin-left: 500px;
                border: 5px solid rgb(0, 0, 0);
                margin-bottom: 100px;
                width: 560px;
                height: 315px;
            }
        }
    }
    .segundaFilaVideos {
        display: flex;
        flex-direction: row;
        .tercerVideo {
            .atletasUno {
                font-family: 'Cormorant SC', serif;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 140px;
                color: rgb(0, 0, 0);
                text-align: center;
                text-decoration: underline solid rgb(0, 0, 0) 3px;
            }
            .videoAtletaUno {
                margin-left: 140px;
                border: 5px solid rgb(0, 0, 0);
                margin-bottom: 100px;
                width: 560px;
                height: 315px;
            }
        }
        .cuartoVideo {
            .atletasDos {
                font-family: 'Cormorant SC', serif;
                font-weight: bold;
                margin-top: 20px;
                margin-bottom: 20px;
                margin-left: 500px;
                color: rgb(0, 0, 0);
                text-align: center;
                text-decoration: underline solid rgb(0, 0, 0) 3px;
            }
            .videoAtletaDos {
                margin-left: 500px;
                border: 5px solid rgb(0, 0, 0);
                margin-bottom: 100px;
                width: 560px;
                height: 315px;
            }
        }
    }
    
}
#grillaDos {
    .tituloDos {
        font-family: 'Cormorant SC', serif;
        font-weight: bold;
        font-size: 60px;
        margin-top: 120px;
        margin-bottom: 70px;
        color: rgb(0, 0, 0);
        text-decoration: underline solid rgb(0, 0, 0) 3px;
        text-transform: uppercase;
        text-align: center;
    }
    .editIMG{
        padding: 20px;
    } .imagenGaleria{
        height: 500px;
        width: 100%;
        object-fit: cover;        
        border: 5px solid rgb(0, 0, 0);
    }
    
}
.articulos {
    font-family: 'Cormorant SC', serif;
    font-size: 2.5rem;
    font-weight: bolder;
    border-bottom: 5px solid rgb(0, 0, 0);
    border-top: 5px solid rgb(0, 0, 0);
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
    color: rgb(0, 0, 0);
    background-color: rgb(243, 92, 4);
}
.mainMerchandising {
    .seccionRemeras {
        .remerasUno {
            border: 5px solid rgb(0, 0, 0);
            margin-bottom: 50px;
            margin-left: 170px;
            font-weight: bold;
            width: 340px;
        }
        .remerasDos {
            border: 5px solid rgb(0, 0, 0);
            margin-bottom: 50px;
            margin-left: 170px;
            font-weight: bold;
            width: 440px;
        }
        .remerasTres {
            border: 5px solid rgb(0, 0, 0);
            margin-bottom: 50px;
            margin-left: 170px;
            font-weight: bold;
            width: 470px;
        }
    }
    .seccionShort {
        .shortUno {
            border: 5px solid rgb(0, 0, 0);
            margin-bottom: 50px;
            margin-left: 150px;
            font-weight: bold;
            width: 450px;
        }
        .shortDos {
            border: 5px solid rgb(0, 0, 0);
            margin-bottom: 50px;
            margin-left: 150px;
            font-weight: bold;
            width: 400px;
        }
    }
    .seccionAccesorio {
        .accesorios {
            border: 5px solid rgb(0, 0, 0);
            margin-bottom: 100px;
            margin-left: 100px;
            font-weight: bold;
            width: 500px;
        }
    }
}
.mainContacto {
    section {
        .tituloContacto {
            font-size: 40px;
            font-family: 'Cormorant SC', serif;
            font-weight: bolder;
            text-transform: uppercase;
            background-color: rgb(29, 29, 29);
            margin-top: 20px;
            margin-bottom: 150px;
            border-bottom: 6px solid rgb(0, 0, 0);
        }
    }
    form {
        fieldset {
            .formulario {
                display: flex;
                flex-direction: column;
                align-items: center;
                h3 {
                    text-align: center;
                    color: rgb(255, 255, 255);
                    background-color: rgb(29, 29, 29);
                    font-weight: 500;
                    font-family: 'Cormorant SC', serif;
                    border-bottom: 6px solid rgb(0, 0, 0);
                    margin-bottom: 160px;
                }
                .ingresoDatos {
                    margin-top: 150px;
                    margin-bottom: 100px;
                    color: rgb(0, 0, 0);
                    background-color: rgb(243, 92, 4);
                    font-size: xx-large;
                    font-weight: 900;
                    font-family: 'Cormorant SC', serif;
                    text-decoration: underline solid rgb(0, 0, 0) 2px;
                }
                div {
                    label {
                        font-family: 'Cormorant SC', serif;
                        font-weight: bold;
                        font-size: x-large;
                        text-decoration: underline solid rgb(0, 0, 0) 3px;
                        margin-bottom: 10px;
                        margin-top: 20px;
                    }
                    input {
                        margin-bottom: 10px;
                        margin-top: 20px;
                        font-size: x-large;
                        border: solid 3px rgb(0, 0, 0);
                    }
                }
                .send {
                    background-color: rgb(243, 92, 4);
                    margin-top: 30px;
                    margin-bottom: 350px;
                    font-size: x-large;
                    font-weight: bolder;
                    border-radius: 25%;
                    border: solid rgb(0, 0, 0);
                    width: 100px;
                }
            }
            
        }
    }
}