body {
  background-color: rgb(255, 255, 255);
}

#grilla {
  display: grid;
  grid-template-areas: "header header" "h2 h2" "p aside" "footer footer";
  grid-template-rows: auto auto auto auto;
  grid-template-columns: auto auto;
  -moz-column-gap: 15px;
       column-gap: 15px;
}

header {
  grid-area: header;
}

.filaDosGrilla {
  grid-area: h2;
}

.imagenPortada {
  grid-area: aside;
}

p {
  grid-area: p;
}

footer {
  grid-area: footer;
}

header {
  background-color: rgb(243, 92, 4);
  padding: 10px;
  border-bottom: 6px solid rgb(0, 0, 0);
}
header .logo {
  border: 3px solid rgb(0, 0, 0);
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
header nav ul {
  list-style-type: none;
}
header nav ul .link {
  display: inline;
  margin-left: 10px;
  text-decoration: none;
}
header nav ul .link .enlaces {
  border-bottom: 3px solid rgb(0, 0, 0);
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-family: "Cormorant SC", serif;
  text-decoration: none;
}
header nav ul .link .enlaceshover {
  color: rgb(255, 255, 255);
  transform: scale(1);
}

section .titulo {
  font-size: 40px;
  font-family: "Cormorant SC", serif;
  background-color: rgb(29, 29, 29);
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 40px;
  border-bottom: 6px solid rgb(0, 0, 0);
}

.imagenPortada {
  display: flex;
  justify-content: center;
}
.imagenPortada .portada {
  border: 3px solid rgb(0, 0, 0);
  width: 1100px;
  height: 900px;
}

p {
  font-weight: 500;
  color: rgb(0, 0, 0);
  background-color: rgb(243, 92, 4);
  border-radius: 2%;
  text-align: justify;
  line-height: 1.5;
}

footer {
  background-color: rgb(29, 29, 29);
  border-top: 6px solid rgb(0, 0, 0);
}
footer .copyright {
  color: rgb(128, 128, 128);
  margin-left: 10px;
  background-color: rgb(29, 29, 29);
}
footer .tresRedes {
  display: flex;
  justify-content: end;
}
footer .tresRedes .redes {
  color: rgb(0, 0, 0);
  background-color: rgb(243, 92, 4);
  font-weight: bold;
  margin-right: 20px;
}
footer .tresRedes .redeshover {
  color: rgb(255, 255, 255);
}

header .cabecera {
  font-family: "Cormorant SC", serif;
  font-weight: bolder;
  font-size: 450%;
  color: rgb(0, 0, 0);
  text-align: center;
}

@media screen and (max-width: 390px) and (orientation: portrait) {
  #grillaDos .hileraImagenes .crossUno {
    margin-left: 5px;
    width: 10px;
  }
  #grilla {
    grid-template-columns: 1fr;
    grid-template-areas: "header header" "h2 h2" "p p" "aside aside" "footer footer";
  }
  header .cabecera {
    font-size: 4rem;
  }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  header nav ul .link {
    margin-left: 0px;
    padding: 5px;
  }
  p {
    text-align: left;
    line-height: normal;
  }
  .imagenPortada {
    display: none;
  }
  #mediaAthletes .columnaVideos {
    display: flex;
    flex-direction: column;
  }
  #mediaAthletes .columnaVideos .primeraFilaVideos {
    display: flex;
    flex-direction: column;
  }
  #mediaAthletes .columnaVideos .primeraFilaVideos .primerVideo .atletasUno {
    font-family: "Cormorant SC", serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 17px;
    color: rgb(0, 0, 0);
    text-align: center;
    -webkit-text-decoration: underline solid rgb(0, 0, 0) 3px;
            text-decoration: underline solid rgb(0, 0, 0) 3px;
  }
  #mediaAthletes .columnaVideos .primeraFilaVideos .primerVideo .videoAtletaUno {
    margin-left: 5px;
    border: 5px solid rgb(0, 0, 0);
    margin-bottom: 100px;
    width: 380px;
    height: 315px;
  }
  #mediaAthletes .columnaVideos .primeraFilaVideos .segundoVideo .atletasDos {
    font-family: "Cormorant SC", serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 17px;
    color: rgb(0, 0, 0);
    text-align: center;
    -webkit-text-decoration: underline solid rgb(0, 0, 0) 3px;
            text-decoration: underline solid rgb(0, 0, 0) 3px;
  }
  #mediaAthletes .columnaVideos .primeraFilaVideos .segundoVideo .videoAtletaDos {
    margin-left: 5px;
    border: 5px solid rgb(0, 0, 0);
    margin-bottom: 100px;
    width: 380px;
    height: 315px;
  }
  #mediaAthletes .columnaVideos .segundaFilaVideos {
    display: flex;
    flex-direction: column;
  }
  #mediaAthletes .columnaVideos .segundaFilaVideos .tercerVideo .atletasUno {
    font-family: "Cormorant SC", serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 17px;
    color: rgb(0, 0, 0);
    text-align: center;
    -webkit-text-decoration: underline solid rgb(0, 0, 0) 3px;
            text-decoration: underline solid rgb(0, 0, 0) 3px;
  }
  #mediaAthletes .columnaVideos .segundaFilaVideos .tercerVideo .videoAtletaUno {
    margin-left: 5px;
    border: 5px solid rgb(0, 0, 0);
    margin-bottom: 100px;
    width: 380px;
    height: 315px;
  }
  #mediaAthletes .columnaVideos .segundaFilaVideos .cuartoVideo .atletasDos {
    font-family: "Cormorant SC", serif;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 17px;
    color: rgb(0, 0, 0);
    text-align: center;
    -webkit-text-decoration: underline solid rgb(0, 0, 0) 3px;
            text-decoration: underline solid rgb(0, 0, 0) 3px;
  }
  #mediaAthletes .columnaVideos .segundaFilaVideos .cuartoVideo .videoAtletaDos {
    margin-left: 5px;
    border: 5px solid rgb(0, 0, 0);
    margin-bottom: 100px;
    width: 380px;
    height: 315px;
  }
  #mediaMerchandising .mainMerchandising .seccionRemeras .remerasUno {
    border: 5px solid rgb(0, 0, 0);
    margin-bottom: 50px;
    margin-left: 20px;
    font-weight: bold;
    width: 340px;
  }
  #mediaMerchandising .mainMerchandising .seccionRemeras .remerasDos {
    border: 5px solid rgb(0, 0, 0);
    margin-bottom: 50px;
    margin-left: 20px;
    font-weight: bold;
    width: 340px;
  }
  #mediaMerchandising .mainMerchandising .seccionRemeras .remerasTres {
    border: 5px solid rgb(0, 0, 0);
    margin-bottom: 50px;
    margin-left: 20px;
    font-weight: bold;
    width: 340px;
  }
  #mediaMerchandising .mainMerchandising .seccionShort .shortUno {
    border: 5px solid rgb(0, 0, 0);
    margin-bottom: 50px;
    margin-left: 20px;
    font-weight: bold;
    width: 340px;
  }
  #mediaMerchandising .mainMerchandising .seccionShort .shortDos {
    border: 5px solid rgb(0, 0, 0);
    margin-bottom: 50px;
    margin-left: 20px;
    font-weight: bold;
    width: 340px;
  }
  #mediaMerchandising .mainMerchandising .seccionAccesorio .accesorios {
    border: 5px solid rgb(0, 0, 0);
    margin-bottom: 100px;
    margin-left: 20px;
    font-weight: bold;
    width: 340px;
  }
}
* {
  margin: 0;
  padding: 0;
}

.columnaVideos {
  display: flex;
  flex-direction: column;
}
.columnaVideos .primeraFilaVideos {
  display: flex;
  flex-direction: row;
}
.columnaVideos .primeraFilaVideos .primerVideo .atletasUno {
  font-family: "Cormorant SC", serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 140px;
  color: rgb(0, 0, 0);
  text-align: center;
  -webkit-text-decoration: underline solid rgb(0, 0, 0) 3px;
          text-decoration: underline solid rgb(0, 0, 0) 3px;
}
.columnaVideos .primeraFilaVideos .primerVideo .videoAtletaUno {
  margin-left: 140px;
  border: 5px solid rgb(0, 0, 0);
  margin-bottom: 100px;
  width: 560px;
  height: 315px;
}
.columnaVideos .primeraFilaVideos .segundoVideo .atletasDos {
  font-family: "Cormorant SC", serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 500px;
  color: rgb(0, 0, 0);
  text-align: center;
  -webkit-text-decoration: underline solid rgb(0, 0, 0) 3px;
          text-decoration: underline solid rgb(0, 0, 0) 3px;
}
.columnaVideos .primeraFilaVideos .segundoVideo .videoAtletaDos {
  margin-left: 500px;
  border: 5px solid rgb(0, 0, 0);
  margin-bottom: 100px;
  width: 560px;
  height: 315px;
}
.columnaVideos .segundaFilaVideos {
  display: flex;
  flex-direction: row;
}
.columnaVideos .segundaFilaVideos .tercerVideo .atletasUno {
  font-family: "Cormorant SC", serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 140px;
  color: rgb(0, 0, 0);
  text-align: center;
  -webkit-text-decoration: underline solid rgb(0, 0, 0) 3px;
          text-decoration: underline solid rgb(0, 0, 0) 3px;
}
.columnaVideos .segundaFilaVideos .tercerVideo .videoAtletaUno {
  margin-left: 140px;
  border: 5px solid rgb(0, 0, 0);
  margin-bottom: 100px;
  width: 560px;
  height: 315px;
}
.columnaVideos .segundaFilaVideos .cuartoVideo .atletasDos {
  font-family: "Cormorant SC", serif;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 500px;
  color: rgb(0, 0, 0);
  text-align: center;
  -webkit-text-decoration: underline solid rgb(0, 0, 0) 3px;
          text-decoration: underline solid rgb(0, 0, 0) 3px;
}
.columnaVideos .segundaFilaVideos .cuartoVideo .videoAtletaDos {
  margin-left: 500px;
  border: 5px solid rgb(0, 0, 0);
  margin-bottom: 100px;
  width: 560px;
  height: 315px;
}

#grillaDos .tituloDos {
  font-family: "Cormorant SC", serif;
  font-weight: bold;
  font-size: 60px;
  margin-top: 120px;
  margin-bottom: 70px;
  color: rgb(0, 0, 0);
  -webkit-text-decoration: underline solid rgb(0, 0, 0) 3px;
          text-decoration: underline solid rgb(0, 0, 0) 3px;
  text-transform: uppercase;
  text-align: center;
}
#grillaDos .hileraImagenes .crossUno {
  border: 5px solid rgb(0, 0, 0);
  margin-left: 130px;
  margin-bottom: 120px;
  width: 500px;
}
#grillaDos .hileraImagenes .crossDos {
  border: 5px solid rgb(0, 0, 0);
  margin-left: 130px;
  margin-bottom: 120px;
  width: 300px;
}
#grillaDos .hileraImagenesDos .crossUno {
  border: 5px solid rgb(0, 0, 0);
  margin-left: 130px;
  margin-bottom: 120px;
  width: 500px;
}
#grillaDos .hileraImagenesDos .crossTres {
  border: 5px solid rgb(0, 0, 0);
  margin-left: 130px;
  margin-bottom: 120px;
  width: 460px;
}

.articulos {
  font-family: "Cormorant SC", serif;
  font-size: 2.5rem;
  font-weight: bolder;
  border-bottom: 5px solid rgb(0, 0, 0);
  border-top: 5px solid rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 40px;
  margin-top: 40px;
  color: rgb(0, 0, 0);
  background-color: rgb(243, 92, 4);
}

.mainMerchandising .seccionRemeras .remerasUno {
  border: 5px solid rgb(0, 0, 0);
  margin-bottom: 50px;
  margin-left: 170px;
  font-weight: bold;
  width: 340px;
}
.mainMerchandising .seccionRemeras .remerasDos {
  border: 5px solid rgb(0, 0, 0);
  margin-bottom: 50px;
  margin-left: 170px;
  font-weight: bold;
  width: 440px;
}
.mainMerchandising .seccionRemeras .remerasTres {
  border: 5px solid rgb(0, 0, 0);
  margin-bottom: 50px;
  margin-left: 170px;
  font-weight: bold;
  width: 470px;
}
.mainMerchandising .seccionShort .shortUno {
  border: 5px solid rgb(0, 0, 0);
  margin-bottom: 50px;
  margin-left: 150px;
  font-weight: bold;
  width: 450px;
}
.mainMerchandising .seccionShort .shortDos {
  border: 5px solid rgb(0, 0, 0);
  margin-bottom: 50px;
  margin-left: 150px;
  font-weight: bold;
  width: 400px;
}
.mainMerchandising .seccionAccesorio .accesorios {
  border: 5px solid rgb(0, 0, 0);
  margin-bottom: 100px;
  margin-left: 100px;
  font-weight: bold;
  width: 500px;
}

.mainContacto section .tituloContacto {
  font-size: 40px;
  font-family: "Cormorant SC", serif;
  font-weight: bolder;
  text-transform: uppercase;
  background-color: rgb(29, 29, 29);
  margin-top: 20px;
  margin-bottom: 150px;
  border-bottom: 6px solid rgb(0, 0, 0);
}
.mainContacto form fieldset .formulario {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainContacto form fieldset .formulario h3 {
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(29, 29, 29);
  font-weight: 500;
  font-family: "Cormorant SC", serif;
  border-bottom: 6px solid rgb(0, 0, 0);
  margin-bottom: 160px;
}
.mainContacto form fieldset .formulario .ingresoDatos {
  margin-top: 150px;
  margin-bottom: 100px;
  color: rgb(0, 0, 0);
  background-color: rgb(243, 92, 4);
  font-size: xx-large;
  font-weight: 900;
  font-family: "Cormorant SC", serif;
  -webkit-text-decoration: underline solid rgb(0, 0, 0) 2px;
          text-decoration: underline solid rgb(0, 0, 0) 2px;
}
.mainContacto form fieldset .formulario div label {
  font-family: "Cormorant SC", serif;
  font-weight: bold;
  font-size: x-large;
  -webkit-text-decoration: underline solid rgb(0, 0, 0) 3px;
          text-decoration: underline solid rgb(0, 0, 0) 3px;
  margin-bottom: 10px;
  margin-top: 20px;
}
.mainContacto form fieldset .formulario div input {
  margin-bottom: 10px;
  margin-top: 20px;
  font-size: x-large;
  border: solid 3px rgb(0, 0, 0);
}
.mainContacto form fieldset .formulario .send {
  background-color: rgb(243, 92, 4);
  margin-top: 30px;
  margin-bottom: 350px;
  font-size: x-large;
  font-weight: bolder;
  border-radius: 25%;
  border: solid rgb(0, 0, 0);
  width: 100px;
}/*# sourceMappingURL=styles1.css.map */